//colors
$maroon: #6d0000;
$darkgrey: #858585;
$whitegrey: #fbfbfb;
$lightgrey: #d9d9d9;

//Roboto regular
$familyfont: "Roboto", sans-serif;
$regularfont: 400;
$lightfont: 300;
$semiboldfont: 500;
$boldfont: 700;
